* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Kumbh Sans;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 51px;
  background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);

}

.dial {
  height: 400px;
  width: 400px;
}

.big-container {
  align-content: center;
  display: flex;
  float: none;
  background-color: #F2F2F2;
  width: 650px;
  height: 960px;
  align-self: center;
  left: 50rem;
  justify-content: center;
  background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
  border: none;


}
.logo-container {
  position: relative;
  align-content: center;
  display: flex;
  float: none;
  height: 40px;
  width: 157px;
  
  

}

#duration {
  color: #0E112A 100%;
}

.small-container {
  align-content: center;
  display: flexbox;
  justify-content: space-evenly;
  color: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
  border: none;

}

.control-buttons {
  height: 80px;
  width: 450px;
  top: 101px;
  background-color: #0E112A;
  border-radius: 50%;
  border-radius: 31.5px;
  justify-content: space-around;
  align-items: center;
  margin: 40px;

}


.timer{
  position: relative;
  display: inline-block;
  margin: 40px;
  border: 7mm solid #2E325A;
  border-radius: 50% / 50%;
  background: linear-gradient(315deg, #0E112A 100%, #2E325A 0%);


}

* {
  font: inherit;
}

body {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.timer input {
  display: block;
  border: none;
  width: 240px;
  font-size: 90px;
  text-align: center;
}

button {
  border: none;
  font-size: 20px;
  cursor: pointer;
  width: 8rem;
  height: 4rem;
  font-family: Kumbh Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 8px;


}

#pomodoro {
  border-radius: 20px;
  border-radius: 30% / 50%;
  background: #F87070
}

.break {
  background: #0E112A;
  color : rgba(215, 224, 255, 1);


}

.timer button {
  border: none;
  font-size: 36px;
  cursor: pointer;
}

.timer button:focus {
  outline: none;
}

.timer input:focus {
  outline: none;
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}