* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  padding-top: 51px;
  
}

.dial {
  height: 400px;
  width: 400px;
}

.big-container {
  align-content:center;
  display: flex;
  float: none;
  background-color:  #F2F2F2;
  width: 600px;
  height: 760px;
  align-self:center;
  left: 50rem;
  justify-content: center;
  background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);


}
.logo-container{
  align-content:center;
  display:flexbox;
  justify-content: space-evenly;
  color: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);

}

.control-buttons{
  height: 63px;
  width: 400px;
  top: 101px;
  display: flexbox;
  background-color: #161932;
  border-radius: 50%;
  border-radius: 31.5px;
  justify-content: space-around;
  align-items: flex-end;
  margin: 40px;
  
}


.timer {
  position: relative;
  display: inline-block;
  margin: 40px;
  border: 4mm solid #0E112A ;
  border-radius: 50% / 50%;
  color: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);

  
}

* {
  font: inherit;
}

body {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.timer input {
  display: block;
  border: none;
  width: 240px;
  font-size: 90px;
  text-align: center;
}
button {
  border: none;
  font-size: 20px;
  cursor: pointer;
 width: 10rem;
}

/* .timer button {
  border: none;
  font-size: 36px;
  cursor: pointer;
} */

.timer button:focus {
  outline: none;
}

.timer input:focus {
  outline: none;
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  

}
