* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit; 
  
}

body {
  height: 100%;
  /* width: fit-content; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 51px;
  background: rgb(19, 21, 46);
  font-family: 'Kumbh Sans', sans-serif;
  align-items: stretch;
  align-self: center;
  align-content: center;
  

}

/* .big-container {
  align-content: center;
  display: flex;
  float: none;
  background-color: #F2F2F2;
  width: 375px;
  height: 667px;
  align-self: center;
  left: 50rem;
  justify-content: center;
  background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
  border: none;


} */
@media screen and (max-width: 480px) {
  body{
    flex-direction: row;
  }
  .small-container {
    width: 80%; /* The width is 100%, when the viewport is 480px or smaller */
  }
 
  .control-buttons div{
    width: 28rem;
  }
}
@media screen and (max-width: 800px) {
  body {
    flex-direction: row;

  }

  .small-container {
    width: 80%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  /* .control-buttons{
    width: 28rem;
  } */
}
@media screen and (max-width: 1440px) {
  body{
    flex-direction: column;
  }
  .small-container {
    width: 80%; /* The width is 100%, when the viewport is 1440px or smaller */
  }
  .control-buttons div{
    width: 28rem;
    text-align: center;
  }
}

.logo-container {
  margin: 1rem;
  justify-content: center;
  text-align: center;
  height: 40px;
}

#duration{
  background: #0E112A;
  color: rgba(215, 224, 255, 1);
  font-weight: 600;

}
.controls button{
  display: block;
  background: #0E112A;
  color: rgba(215, 224, 255, 1);
}

.dial {
  height: 400px;
  width: 400px;
}

.small-container {
  text-align: center;
  display: flexbox;
  /* justify-content: center; */
  color:#161932;
  border: none;

}

.control-buttons {
  display: flex;
  flex-direction: column;
  /* height: 4em; */
  padding-left: 0%;
  top: 101px;
  background: rgb(19, 21, 46);
  border-radius: 31.5px;
  justify-content: center;
  align-self: center;
  margin: 40px;
  
  

}
.control-buttons div{
  text-align: center;
  background-color: #0E112A;
  border-radius: 31.5px;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-self: stretch;
}
#pomodoro {
  border-radius: 20px;
  border-radius: 30% / 50%;
  background: #F87070;
}

.break {
  background: #0E112A;
  color: rgba(215, 224, 255, 0.5);
  border-radius: 20px;
  border-radius: 30% / 50%;
  padding: 0;
  margin:  0;

}
.control-buttons .break:hover {
  color: rgba(215, 224, 255, 1);
}


.timer {
  position: relative;
  display: inline-block;
  margin: 2em;
  border: 7mm solid  #161932;
  border-radius: 50% / 50%;
  background:#0E112A;
  padding: 10px;
  box-shadow: -40px -20px 50px 2px #222444;


}


.timer input {
  display: block;
  border: none;
  width: 3em;
  font-size: 80px;
  text-align: center;
}

button {
  border: none;
  font-size: 20px;
  cursor: pointer;
  width: 9rem;
  height: 4rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  margin: 5px 0;


}

.timer button {
  border: none;
  font-size: 36px;
  cursor: pointer;
}

.timer button:hover {
  outline: none;
  color: #F87070;
}

.timer input:focus {
  outline: none;
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

